
.cesar-chiffre{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 5rem;
    align-items: center;
    justify-content: space-between;
    
} 

.cesar-chiffre * {
    box-sizing: border-box;
}

svg{
    overflow: visible;
}


/* INPUT FORM */

.cesar-chiffre__form{
    padding: 1rem;
    border-radius: 1rem;
    background: #eee;
    box-shadow: 0 .2rem .5rem rgba(0,0,0,.5);
    flex: 1;
    width: 100%;
    min-width: 20rem;
}

.cesar-chiffre__form-input{
    display: flex;
    box-shadow: 0 .2rem .5rem rgba(0,0,0,.1);
    margin-top: .5rem;
}

.cesar-chiffre__form-input label{
    background: #666;
    color: #fff;
    align-items: center;
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0 1rem;
    padding-right: 1.5rem;
    margin-right: -.5rem;
}


.cesar-chiffre__form textarea{
    width: 100%;
    font-family: Arial, Courier, monospace;
    min-height: 10rem;
    padding: 1rem;
    font-size: 1.3rem;
    border: none;
    outline: none;
    resize: none;
    box-shadow: 0 .2rem .5rem rgba(0,0,0,.1);
    border-radius: 5px;

}

.cesar-chiffre__form input{
    width: 100%;
    padding: .6rem 1rem;
    font-size: 1.2rem;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: none;
    outline: none;
  
}

.cesar-chiffre__form button{
    width: 100%;
    margin-top: 1rem;
    padding: .5rem .8rem;
    cursor: pointer;
    font-size: 1.2rem;
    background: #007000;
    color: #fff;
    border: none;
    box-shadow: 0 .2rem .5rem rgba(0,0,0,.3);
    border-radius: 5px;
}

.ceasar-chiffre__output{
    background: #ccc;
    margin-top: 1rem;
    min-height: 10rem;
    padding: 1rem;
    font-size: 1.3rem;
    box-shadow: inset 0 .1rem .4rem rgba(0,0,0,.3);
}

/* SVG */

/**/

.cesar-chiffre__svg-container{
    flex: 2;
    margin-left: 5rem;

   
}

.cesar-chiffre__svg{ 
    height: 80vh;  
    display: flex;  
    justify-content: center;
}



#cesar-disk-outer-group{
    transform-box: fill-box;
    transform-origin: center; 
}

#cesar-disk-inner-group{
    transform-box: fill-box;
    transform-origin: center; 
}

@media screen and (min-width: 2600px){
    .cesar-chiffre__form{
        padding: 2rem;
        border-radius: 2rem;
    }
    .cesar-chiffre__form button{
        padding: 1rem .5rem;
        margin: 1rem 0;
        font-size: 2rem;
    }

    .cesar-chiffre__form-input label{
        font-size: 2.5rem;
        padding: 0 3rem;
    }

    .cesar-chiffre__form input{
        font-size: 2.5rem;
        padding: 1.6rem 2rem;
      
    }

    .cesar-chiffre__form textarea{
        font-size: 2.5rem;
        min-height: 20rem;
        padding: 2rem;
    }

    .ceasar-chiffre__output{
        font-size: 2.5rem;
    
        min-height: 20rem;
    }
}


@media screen and (max-width: 1200px){
    .cesar-chiffre{
        flex-direction: column;
        padding: 1rem;
        flex-wrap: nowrap;
        align-items: stretch;
    }

    .cesar-chiffre__svg-container{
        margin: 1rem 0;
    }

    .cesar-chiffre__svg{
      
        margin: 2rem 0;
            
    }

    .cesar-chiffre__svg svg{
        margin: 0 auto;
    }


    .cesar-chiffre__form {
        flex: 0;
    }

    .cesar-chiffre__form button{
        padding: .5rem .5rem;
        margin: .5rem 0;
        font-size: 1rem;
    }

    .cesar-chiffre__form input{
        font-size: 1rem;
    }

    .cesar-chiffre__form textarea{
        font-size: 1rem;
        min-height: 5rem;
    }

    .ceasar-chiffre__output{
        font-size: 1rem;
    
        min-height: 5rem;
    }


} 

@media screen and (max-width: 600px){

    .ceasar-chiffre{
        max-height: 100vh;

    }

    .cesar-chiffre__form {
        flex: 0;
        min-width: 100%;
    }

    .cesar-chiffre__form button{
        padding: .5rem .5rem;
        margin-top: .1rem;
        font-size: .9rem;
    }

    .cesar-chiffre__form input{
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .cesar-chiffre__form textarea{
        font-size: 1rem;
        height: 5rem;
    }

    .ceasar-chiffre__output{
        font-size: 1rem;
        padding: .5rem;
        min-height: 5rem;
    }

    
    .cesar-chiffre__svg-container{
        flex: 0;
    }

    .cesar-chiffre__svg{
       height: 100vw;
    }

    .ceasar-chiffre__svg svg{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    

} 

/***/

.cesar-toggle{
    margin: 1rem 0;
    background: #666;
    display: flex;
    border-radius: 5px;
    overflow: hidden;
}

.cesar-toggle input{
    display: none;
}

.cesar-toggle input:checked + .cesar-toggle__option{
    background: #0070D9;
}

.cesar-toggle__option{
    flex: 1;
    text-align: center;
    font-size: 1.3rem;
    padding: .5rem 1rem;
    color: #fff;
    cursor: pointer;
    transition: background .3s;
}




#cesar-disk-inner{
    cursor: grab;
}

.cesar-disk--rotating #cesar-disk-inner{
    cursor: grabbing;
}

.cesar-disk--animating #cesar-disk-inner{
    cursor: auto;
}




